# Dependencies
node_modules

# Build output
dist
dist-ssr

# System files
.DS_Store
*.local

# Large media files
*.mp4

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
