@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-merriweather: "Merriweather", serif;
  --font-pirata: "Pirata One", system-ui;
  --font-cinzel: "Cinzel", serif;
}